import { TrashIcon } from '@heroicons/react/outline';

import { Button, ConfirmationDialog } from '@/components/Elements';

import { useDelete{{ properCase name }} } from '../api/delete{{ properCase name }}';

type Delete{{ properCase name }}Props = {
  id: string;
};

export const Delete{{ properCase name }} = ({ id }: Delete{{ properCase name }}Props) => {
  const delete{{ properCase name }}Mutation = useDelete{{ properCase name }}();

  return (
    <ConfirmationDialog
      isDone={delete{{ properCase name }}Mutation.isSuccess}
      icon="danger"
      title="Delete {{ properCase name }}"
      body="Are you sure you want to delete this {{ sentenceCase name }}?"
      triggerButton={
        <Button variant="danger" size="sm" startIcon={<TrashIcon className="h-4 w-4" />}>
          Delete {{ properCase name }}
        </Button>
      }
      confirmButton={
        <Button
          isLoading={delete{{ properCase name }}Mutation.isLoading}
          type="button"
          className="bg-red-600"
          onClick={() => delete{{ properCase name }}Mutation.mutate({ id })}
        >
          Delete {{ properCase name }}
        </Button>
      }
    />
  );
};
